/* RESET RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

img {
    max-width: 100%;
}

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}

/* LAYOUTS */

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 10px;
}

.container-med {
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col-2 {
    flex-basis: calc(((100% / 12) * 2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-4 {
    flex-basis: calc(((100% / 12) * 4) - 20px);
    border-radius: 20px;
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    padding: 0 20px;
}

.col-8 {
    flex-basis: calc(((100% / 12) * 8) - 20px);
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 20px;
}

.col-10 {
    flex-basis: calc(((100% / 12) * 10));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* UTILITY CLASSES*/

.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: var(--purple);
}

.pd {
    padding: 20px;
}

.cl-violet {
    color: var(--purple);
    text-decoration: underline;
}

/* COMPONENT CLASSES */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.icon {
    color: var(--blue);
    font-size: 52px;
    padding-top: 20px;
}

/* HEADER */
.page-header {
    background-color: var(--blue);
    padding: 10px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.navbar-item,
.menu-toogle {
    color: white;
}

.menu-toogle {
    display: block;
}



/* MAIN */
/* HERO */

.hero-row {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.card-description {
    text-align: center;
}

.card-title {
    color: var(--blue);
}

.card-text {
    font-size: 14px;
    padding: 10px 0px;
    line-height: 35px;
}

.grow {
    flex-grow: 1;
}

.text-left {
    font-size: 14px;
    padding-top: 10px;
    line-height: 35px;
}

.app-store {
    padding-top: 20px;
    padding-bottom: 30px;
}

.button-app-store {
    background-color: var(--blue);
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    padding: 0 60px;
    font-size: 14px;
}

.phone-img {
    display: block;
}

.right {
    display: flex;
    justify-content: center;
}

/* STRATEGIC PLANNING */
.page-planning {
    background-color: var(--purple);
}

.planning-row {
    display: flex;
    padding: 10px;
}

.planning-1-img {
    padding: 100px 0;
}

.planning-title,
.planning-text {
    color: white;
}

.planning-text {
    padding: 30px 0;
    line-height: 35px;
}

.planning-2-text {
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 35px;
}

.planning-2-img {
    width: 60%;
    aspect-ratio: 1;
}

.container-img-planning-2 {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.content-planning-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
}

.planning-2-cit {
    font-size: 16px;
    padding: 30px 0;
    line-height: 35px;
}

.circle-button {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: var(--purple);
    border-radius: 50%;
}

/* TESTIMONIALS */


.page-testimonials {
    margin-top: 20px;
}


.testimonials-header {
    margin-bottom: 20px;
    text-align: center;
}

.testimonials-header-title {
    padding: 10px 0;
    color: var(--purple);
}

.testimonials-header-text {
    padding: 10px 0;
    font-size: 18px;
    line-height: 35px;
}

.testimonials-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial-img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 15px;
}

.testimonial-text {
    font-size: 20px;
    padding: 0 20px;
    color: white;
    line-height: 35px;
}

.testimonial-name {
    padding: 20px;
    text-transform: uppercase;
    color: white;
}

/* BENEFITS */

.page-benefits {
    background-color: var(--purple);
}

.row-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefits-title {
    text-align: center;
    padding: 10px;
    color: white;
}

.number {
    font-size: 50px;
    font-weight: bold;
    color: var(--purple);
    padding: 10px;
}

.benefits-title-card {
    font-size: 23px;
    color: var(--purple);
    padding: 10px;
}

.benefits-text {
    font-size: 15px;
    padding: 20px 10px;
    line-height: 35px;
}

.button-more {
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 60px;
}

/* ABOUT US */

.page-about-us {
    margin-top: 20px;
}

.row-page-about-us {
    display: flex;
    gap: 20px;
}

.about-us-title {
    color: var(--purple);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}

.about-us-text {
    padding: 10px;
    margin-bottom: 20px;
    line-height: 35px;
}

.container-about-us-img {
    width: 200px;
    aspect-ratio: 1;
    position: relative;
    margin: 0 auto;
}

.card-right {
    padding: 10px;
}

.about-us-img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    padding: 15px;
}

.quote {
    font-size: 70px;
    color: var(--purple);
    position: absolute;
    right: 0;
}

.about-us-title-card {
    color: var(--purple);
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttom-linkedin {
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 0 30px;
}

/* GET STARTED */

.page-get-started {
    background-color: var(--purple);
    margin-top: 20px;
}

.get-started-items {
   text-align: center;
}

.get-started {
    color: grey;
}

.get-started-title-2 {
    color: white;
    font-size: 35px;
    margin-top: 20px;
}

.get-started-title-1 {
    color: var(--yellow);
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-started-text {
    color: white;
    line-height: 35px;
    font-size: 17px;
    margin-bottom: 40px;
}

.button-get-started {
    color: var(--purple);
    background-color: white;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 70px;
    margin-bottom: 20px;
}

.privacy {
    text-decoration: underline;
}

/* FOOTER */

.page-footer {
    background-color: var(--dark-grey);
}

.footer-items {
    text-align: center;
}

.footer-text-1,
.footer-text-2 {
    color: white;
    font-size: 15px;
}

.footer-text-1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer-text-2 {
    margin-bottom: 20px;
}

/* DEBUG */

.debug .container {
    border: 1px solid orange;
    padding: 10px;
}

.debug .container-med {
    border: 1px solid orange;
    padding: 10px;
}

.debug .container-small {
    max-width: 880px;
    border: 1px solid orange;
    padding: 10px;
}

.debug [class^="row"] {
    border: 1px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid blue;
    padding: 10px;
    min-height: 50px;
}

/* RESPONSIVE LAYOUT MOBILE */

@media only screen and (max-width: 576px) {

   .navbar-list {
    display: none;
   }

   .menu-toogle {
    display: block;
   }

   .row {
    flex-wrap: nowrap;
   }

   .hero-row {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
   }

   .col-8 {
    width: 100%;
   }

   .col-6 {
    flex-basis: 100%;
   }

   .col-8 {
    flex-wrap: wrap;
   }

   .col-12 {
    width: 100%;
    flex-direction: column;
   }

   .row-page-about-us {
    flex-direction: column;
   }

   
}

/* RESPONSIVE LAYOUT TABLET */

@media only screen and (max-width: 768px) {

       .row {
        flex-wrap: nowrap;
       }

       .hero-row {
        flex-wrap: wrap;
       }

       .planning-row {
        flex-wrap: wrap;
        flex-direction: column;
       }

       .row-benefits {
        flex-wrap: wrap;
        justify-content: center;
       }

       .menu-toogle {
        display: none;
       }
    


       
}

/* RESPONSIVE LAYOUT DESKTOP */

@media only screen and (max-width: 1800px) {
    
    .hero-row {
        flex-wrap: wrap;
       }

       .menu-toogle {
        display: none;
       }


}



