/* RESET RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

img {
    width: 100%;
}

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;
}

/* LAYOUTS */

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 10px;
}

.container-med {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col-4 {
    flex-basis: calc(((100% / 12) * 4) - 20px);
    border-radius: 20px;
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    padding: 0 20px;
}

.col-8 {
    flex-basis: calc(((100% / 12) * 8) - 20px);
    display: flex;
    position: relative;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 20px;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* UTILITY CLASSES*/

.justify-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-white {
    background-color: white;
}

/* COMPONENT CLASSES */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.icon {
    color: var(--blue);
    font-size: 52px;
    padding-top: 20px;
}

/* HEADER */
.page-header {
    background-color: var(--blue);
    padding: 10px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.navbar-item {
    color: white;
}

/* MAIN */
/* HERO */

.hero-row {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.card-description {
    text-align: center;
}

.card-title {
    color: var(--blue);
}

.card-text {
    font-size: 14px;
    padding: 10px 0px;
}

.grow {
    flex-grow: 1;
}

.text-left {
    font-size: 14px;
    padding-top: 10px;
}

.app-store {
    padding-top: 20px;
    padding-bottom: 30px;
}

.button-app-store {
    background-color: var(--blue);
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    padding: 0 60px;
    font-size: 14px;
}

.phone-img {
    width: 150px;
    display: block;
    position: absolute;
    bottom: 0;
}

.right {
    display: flex;
    justify-content: center;
}

/* STRATEGIC PLANNING */
.page-planning {
    background-color: var(--purple);
}

.planning-row {
    display: flex;
    padding: 10px;
}

.planning-1-img {
    padding: 100px 0;
}

.planning-title,
.planning-text {
    color: white;
}

.planning-text {
    padding: 30px 0;
}

.planning-2-text {
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.planning-2-img {
    width: 60%;
    aspect-ratio: 1;
}

.container-img-planning-2 {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.content-planning-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
}

.planning-2-cit {
    font-size: 16px;
    padding: 30px 0;
}

.circle-button {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: var(--purple);
    border-radius: 50%;
}

/* TESTIMONIALS */


.testimonials {
    margin-top: 20px;
}


.testimonials-header {
    margin-bottom: 20px;
    text-align: center;
}

.testimonials-header-title {
    padding: 10px 0;
    color: var(--purple);
}

.testimonials-header-text {
    padding: 10px 0;
    font-size: 18px;
}

/* DEBUG */

.debug .container {
    border: 1px solid orange;
    padding: 10px;
}

.debug .container-med {
    border: 1px solid orange;
    padding: 10px;
}

.debug .container-small {
    max-width: 880px;
    border: 1px solid orange;
    padding: 10px;
}

.debug [class^="row"] {
    border: 1px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid blue;
    padding: 10px;
    min-height: 50px;
}

/* RESPONSIVE LAYOUT MOBILE */

@media only screen and (max-width: 576px) {

   .container {
    width: 100%;
   }

   .navbar-list {
    display: none;
   }

   .row {
    flex-wrap: nowrap;
   }

   .hero-row {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
   }

   .col-8,
   .col4 {
    width: 100%;
   }

}

/* RESPONSIVE LAYOUT TABLET */

@media only screen and (max-width: 768px) {

    .container {
        width: 100%;
       }
    
       .navbar-list {
        display: none;
       }
    
       .row {
        flex-wrap: nowrap;
       }

       .hero-row {
        flex-wrap: wrap;
       }

       .planning-row {
        flex-wrap: wrap;
        flex-direction: column;
       }
}

/* RESPONSIVE LAYOUT DESKTOP */

@media only screen and (max-width: 1800px) {
    
    .hero-row {
        flex-wrap: wrap;
       }
}



